<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291883276438-fhrnqocben3bhtrcer45qtkpqtsqbijc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291883276438-fhrnqocben3bhtrcer45qtkpqtsqbijc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>291883276438-5rn8j4io4r3mnqi3m6or92a8eoqbdai7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmh1VbqV7d5MIJIVRhkB7ZUu54wzJ_p70</string>
	<key>GCM_SENDER_ID</key>
	<string>291883276438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.aigirlfriend</string>
	<key>PROJECT_ID</key>
	<string>ai-girlfriend-11724</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-girlfriend-11724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291883276438:ios:3978a5e6b697cf10018ab7</string>
</dict>
</plist>